@inherits LayoutComponentBase

<div class="min-h-screen bg-bg text-text">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    เกิดข้อผิดพลาดที่ไม่คาดคิด
    <a href="." class="reload">โหลดใหม่</a>
    <span class="dismiss">🗙</span>
</div>
